<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @spooky_house.banner_url %>);">
  <div class="container">
    <h1><%= @spooky_house.name %></h1>
    <p>Get spooked!</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="cards my-3">
    <% @spooky_house.monsters.each do |monster| %>
      <%= render 'monsters/card', monster: monster %>
    <% end %>
  </div>
</div>
